[Desktop Entry]
Type=Application
Name=Eduka-Menu Settings
GenericName=Eduka-Desktop and Eduka-Panel settings
Comment=Appearance, accessibility, menu button and panel settings for Eduka-Desktop
Exec=env QT_LINUX_ACCESSIBILITY_ALWAYS_ON=1 eduka-menu-settings
Icon=preferences-system
Categories=Settings;DesktopSettings;LXQt;Qt;
Keywords=Eduka;Edukasaun;panel;menu;taskbar;theme;
StartupWMClass=eduka-menu-settings
X-GNOME-SingleWindow=true
