[SddmGreeterTheme]
Name=Edukasaun
Description=Edukasaun OS login screen
Author=Edukasaun OS
Copyright=Edukasaun OS
License=GPL-3.0+
Type=sddm-theme
Version=0.9.15
Website=https://github.com/hugomonizdorego/Eduka-Desktop
Screenshot=logo.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=edukasaun
Theme-API=2.0
